<h2>Admin Dashboard</h2>
<form
  [formGroup]="userForm"
  (ngSubmit)="editingUserId ? updateUser() : createUser()"
>
  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input matInput formControlName="firstName" />
    <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
      Vorname ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
      Nachname ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Rolle</mat-label>
    <mat-select formControlName="role">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Chef">Küchenchef</mat-option>
      <mat-option value="Server">Schöpfdienst</mat-option>
      <mat-option value="Caretaker">Betreuer</mat-option>
      <mat-option value="Client">Klient</mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.get('role')?.hasError('required')">
      Rolle ist erforderlich
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error
      *ngIf="
        userForm.get('email')?.hasError('required') &&
        userForm.get('role')?.value !== 'Client'
      "
    >
      Email ist erforderlich
    </mat-error>
    <mat-error *ngIf="userForm.get('email')?.hasError('pattern')">
      Ungültige Email
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Passwort</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="userForm.get('password')?.hasError('required')">
      Passwort ist erforderlich
    </mat-error>
  </mat-form-field>
  <button
    *ngIf="!editingUserId"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="userForm.invalid"
  >
    Benutzer erstellen
  </button>
  <button
    *ngIf="editingUserId"
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="userForm.invalid"
  >
    Benutzer aktualisieren
  </button>
</form>
<mat-list>
  <mat-list-item *ngFor="let user of users">
    {{ user.firstName }} {{ user.lastName }} ({{ user.role }})
    <button mat-icon-button (click)="deleteUser(user.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editUser(user)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
