<mat-drawer-container class="main-wrapper" hasBackdrop="true">
  <mat-drawer class="mat-drawer-panel" #drawer mode="push">
    <div class="logo">
      <h1>Stiftung <br />Bernaville</h1>
    </div>
    <mat-divider></mat-divider>

    <div class="buttoncontainer">
      <button color="disabled" mat-fab extended>Klick mich</button>
      <button color="disabled" mat-fab extended>Klick mich</button>
      <button color="disabled" mat-fab extended>Klick mich</button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">Choscht.</h1>
      <app-header></app-header>
    </mat-toolbar>

    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
