<mat-drawer-container class="main-wrapper" hasBackdrop="true">
  <mat-drawer class="mat-drawer-panel" #drawer mode="over" autoFocus="false">
    <div class="logo">
      <h1>Stiftung <br />Bernaville</h1>
    </div>
    <mat-divider></mat-divider>

    <div class="buttoncontainer">
      <button color="disabled" mat-fab extended>Klick mich</button>
      <button color="disabled" mat-fab extended>Klick mich</button>
      <button color="disabled" mat-fab extended>Klick mich</button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button
        class="menu-btn"
        (click)="drawer.toggle()"
        mat-icon-button
        aria-label="Toggle menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">Choscht.</h1>
      <div class="login-btn-container">
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <button
            color="disabled"
            mat-fab
            extended
            (click)="openLoginDialog()"
            aria-label="Login"
          >
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-container>
        <ng-template #loggedIn>
          <button
            color="disabled"
            mat-fab
            extended
            (click)="logout()"
            aria-label="Logout"
          >
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </ng-template>
      </div>
    </mat-toolbar>

    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>