.day-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card {
  width: 100%;
  margin: 10px 0;
}

mat-form-field {
  width: 100%;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.maxwidth600 {
  max-width: 600px;
}

form {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

button {
  margin-bottom: 50px;
}
