<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
      >Email ist erforderlich</mat-error
    >
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
      >Ungültige Email</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Passwort</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
      >Passwort ist erforderlich</mat-error
    >
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
